<div class="container" id="contato">
    <div id="contato" class="text-center pt-5 pb-4">
        <p class="display-5 font-weight-bold text-white" style="font-size: 1.5rem;">CONTATO</p>
    </div>
    <div class="row">
        <div class="col-12 text-center text-white contato">
            <p>Se você quiser conversar, entre em contato, estou quase sempre online :)</p>
            <p style="font-size: 1.4rem;">Envie uma mensagem</p>
            <p>EMAIL: andreluizkp@gmail.com</p>
        </div>
    </div>
</div>