<div class="container" id="sobre">
    <div id="sobre" class="text-center pt-5 pb-4">
        <p class="display-5 font-weight-bold text-white" style="font-size: 1.5rem;">SOBRE MIM</p>
    </div>
    <div class="row">
        <div class="col-12 text-white text-center">
            <p class="text-justify-center"> Trabalho a 1 ano na area de desenvolvimento web como
                desenvolvedor <font color="#00B8E4">FrontEnd</font> e <font color="#00B8E4">BackEnd</font><br>
                trabalhei a 3 anos como Analista de Desenvolcimento de Sistema na área da saude.
            </p>
            <p class="text-justify-center"> Tive a oportunidade de desenvolver um sistema de 
                <font color="#00B8E4"> DataScience</font> para apoio a setores tais como internação,
                prescrição hospitalar, suprimentos, radiologia e centro cirurgico em ambiente web.<br> 
                Nesse sistema utilizei as ferramentas <font color="#00B8E4">Reactjs</font>, <font color="#00B8E4">Express js</font>, e
                <font color="#00B8E4">PL/SQL</font>
            </p>
            <p class="text-justify-center"> Possuo experiencia atualemnte nas linguagens <font color="#00B8E4">Java</font>, 
                <font color="#00B8E4"> Javascript</font> e <font color="#00B8E4">SQL</font><br>
                bem como as frameworks <font color="#00B8E4">Reacjs</font>, <font color="#00B8E4">Angular</font>, 
                <font color="#00B8E4"> Express Js</font> e <font color="#00B8E4">SpringBoot</font>.
            </p>
            <p class="text-justify-center"> Em banco de dados o meu atual conhecimento é em <font color="#00B8E4">Oracle</font>, 
                <font color="#00B8E4">SQLServer</font>, <font color="#00B8E4">Postgress</font>, <font color="#00B8E4">Sqlite</font> 
                e <font color="#00B8E4"> Mysql</font>.
            </p>
            <p class="text-justify-center"> Logo a baixo segue todo conhecimento que possuo ao decorrer de minha carreira. </p>
        </div>
    </div>
</div>