<div class="container" id="conhecimento">
    <div id="qualificacao" class="text-center pt-5 pb-4">
        <p class="display-5 font-weight-bold text-white" style="font-size: 1.5rem;">CONHECIMENTOS
        </p>
    </div>
    <div class="row">
        <div class="col-12">
            <div role="group" aria-label="Basic example" class="btn-group" *ngFor="let c of conhecimentos">
                <button type="button" class="btn btn-outline-primary ml-2 mt-2">{{c}}</button>
            </div>
        </div>
    </div>
</div>