.btn {
    border-color: #00B8E4;
    color: #00B8E4;
}
.btn:hover {
    background-color: #00B8E4;
    color: #fff;
    border-color:#00B8E4;
}
.btn:focus {
    background-color: #00B8E4 !important;
    color: #fff !important;
    border-color: #00B8E4 !important;
}