.portifolio {
    margin-bottom: 60px;
}
.btn {
    border-radius: 0;
    background-color: #00B8E4;
    border-color: #00B8E4;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 15px 30px; 
}
.btn:focus {
    background-color: #00B8E4 !important;
    border-color: #00B8E4 !important;
}
img {
    width: 100%;
    height: auto;
}
.title {
    font-size: 1.3rem;
}
.subtitle {
    font-size: 0.8rem;
}