<div class="container" id="portfolio">
    <div id="portfolio" class="text-center pt-5">
        <p class="display-5 font-weight-bold text-white" style="font-size: 1.5rem;">PORTFÓLIO</p>
    </div>
    <div class="row mt-5">
        <div class="col-6 portifolio text-center" *ngFor="let p of projetos">
            <a target="_blank" [href]="p.link">
                <img alt="" srcset="" [src]="p.path">
            </a>
            <p class="text-white mt-4 title font-weight-bold">{{p.title.toUpperCase()}}</p>
            <p class="text-white subtitle">{{p.subtitle.toUpperCase()}}</p>
        </div>
    </div>
    <div class="text-center"><button type="button" class="btn btn-primary">CARREGAR MAIS</button></div>
</div>