<div class="jumbotron" style="background-image: url({{background}});">
    <div class="container text-right">
        <h1 class="text-white" style="font-size: 3rem;">ANDRE LUIZ KUCZNER</h1>
        <p class="font-blue font-weight-bold">PROGRAMADOR JAVA, JAVASCRIPT</p>
        <p class="font-blue font-weight-bold">DESENVOLVEDOR FRONT-END/BACK-END</p>
    </div>
</div>