<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-4 fixed-top">
    <a class="navbar-brand" href="#">@Kushinier</a>
    <button class="navbar-toggler" 
            type="button" 
            data-toggle="collapse" 
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto pr-5">
            <li class="nav-item active"><a href="" class="nav-link">HOME</a>
            </li>
            <li class="nav-item"><a (click)="anchor('portfolio')" class="nav-link">PORTFÓLIO</a></li>
            <li class="nav-item"><a (click)="anchor('conhecimento')" class="nav-link">CONHECIMENTOS</a></li>
            <li class="nav-item"><a (click)="anchor('sobre')" class="nav-link">SOBRE MIM</a></li>
            <li class="nav-item"><a (click)="anchor('contato')" class="nav-link">CONTATO</a></li>
        </ul>
    </div>
</nav>