.navbar-brand {
    font-size: 1.2em;
    font-weight: bold;
}
.bg-dark {
    background-color: #000 !important;
}
.nav-item {
    padding-left: 50px;
}
.nav-link {
    font-size: 0.8rem;
    font-weight: bold;
}
a {
    cursor: pointer;
}